// Start helpers Classes
@use "../helpers/var" as *;

.hidden {
    display: none;
}
.block {
    display: block;
}
.danger {
    border-color: $danger !important;
}
.success {
    border-color: $success !important;

}



