
$main_color: #5e5eff;
$border_radius: 5px;
$second_color: grey;
$danger: #ff6058;
$success: #28A745;
$box_shadow: #00000005 0px 1px 3px 0px, #1b1f2326 0px 0px 0px 1px;
$transition: 0.3s;
$save: #5cabff;
$black: #323232;
