// start define the varaibles


$main_color: rgb(86, 86, 255);
$border_radius: 5px;
$second_color: grey;
$danger: #FF3B30;
$success: #28A745;
$box_shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
$transition: 0.3s;

