// Import Helpers Class
@use "../../helpers/global-roles" as *;
@use "../../helpers/mixins" as *;
@use "../../helpers/var" as *;
@use "../../helpers/classes" as *;


// Start Login Form
.container {
    background-color: $main_color;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login {
    background-color: white;
    padding: 20px;
    width: 350px;
    border-radius: $border_radius;
    .icon {
        text-align: center;
        font-size: 100px;
        margin-bottom: 20px;
    }
    .email, .password, .name {
        width: 100%;
        margin-bottom: 10px;
        label {
            margin-bottom: 8px;
            font-size: 16px;
        }
        input {
            font-size: 15px;
            border: 2px $second_color dotted;
            padding: 8px;
            border-radius: $border_radius;
            &:focus {
                border-color: $main_color;
                z-index: 1;
                &::placeholder {
                    color: transparent;
                }
            }
        }
    }
    .btn {
        cursor: pointer;
        width: 100%;
        padding: 10px;
        font-size: 16px;
        background-color: $main_color;
        color: white;
        border-radius: $border_radius;
        margin-bottom: 10px;
    }
    .user {
        color: $main_color;
        font-weight: normal;
    }
}





