// Import Helpers Classes
@use "../../helpers/classes" as *;
@use "../../helpers/global-roles" as *;
@use "../../helpers/mixins" as *;
@use "../../helpers/var" as *;


.container {
    background-color: rgb(86, 86, 255);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
  
.login {
    @include commmun_style;
  
    .registre-btn {
      cursor: pointer;
      width: 100%;
      padding: 10px;
      font-size: 16px;
      background-color: rgb(86, 86, 255);
      border-radius: 5px;
      margin-bottom: 10px;
      color: white;
    }

    .google {
      margin: 10px;
    }
    .google, .facebook {
        button {
            border-radius: 5px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px;
        }
        img {
            width: 25px;
            margin-right: 10px;
        }  
        p {
            font-size: 16px;
        }
    }

    .password, .facebook {
      margin-bottom: 20px !important;
    }
}

.message {
  background-color: white;
  color: black;
  position: absolute;
  bottom: 50px;
  right: 0;
  padding: 10px 20px;
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: $danger;
    width: 100%;
    height: 5px;
    animation: toLeft;
    animation-duration: 2s;
  }
}
@keyframes toLeft {
  0% {
    width: 10px;
  }
  100% {
    width: 100%;
  }
}

  