.hidden {
  display: none;
}

.block {
  display: block;
}

.danger {
  border-color: #ff6058 !important;
}

.success {
  border-color: #28A745 !important;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", serif;
}

a {
  text-decoration: none;
  color: black;
}

a, label {
  display: block;
  cursor: pointer;
}

button {
  border: 0;
  outline: 0;
  cursor: pointer;
  display: block;
}

ul {
  list-style: none;
}

input:focus {
  border: 0;
  outline: 0;
}

.page_content {
  padding: 10px 0 0 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

.profile-icon {
  position: absolute;
  top: 20px;
  right: 13px;
  background-color: #5285cd;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border-radius: 50%;
  cursor: pointer;
}
.profile-icon:hover {
  outline: 4px solid #eee;
}

.profile {
  position: absolute;
  top: 70px;
  right: 30px;
  text-align: center;
  background-color: #f3f3f3;
  padding: 20px;
  border-radius: 9px;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
.profile .email {
  margin-bottom: 20px;
  color: #323232;
}
.profile .img-profile {
  margin: 20px 0;
  background-color: #5285cd;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border-radius: 50%;
  margin: 5px auto;
}
.profile .msg {
  font-size: 18px;
  margin-bottom: 20px;
  color: #323232;
}
.profile button {
  border-radius: 20px;
  border: 1px solid #323232;
  font-weight: 600;
  font-size: 15px;
  padding: 10px;
  width: 100%;
}
.profile button.manage {
  color: #5e5eff;
}
.profile button.manage:hover {
  background-color: rgba(147, 147, 147, 0.1803921569);
}
.profile button.log_out {
  margin-top: 10px;
  border: 1px solid #ff453a;
}
.profile button.log_out a {
  color: #ff453a;
}
.profile button.log_out:hover {
  background-color: rgba(255, 69, 58, 0.2);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .operations {
  background: linear-gradient(to right, #A1C4FD, #C2E9FB);
  height: 10%;
  padding: 10px;
  margin: 0 auto;
  border-radius: 5px;
  margin-bottom: 10px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .operations > div {
  border: 2px solid #fff5f5;
  border-radius: 5px;
}
header .operations > div button {
  width: 40px;
  height: 40px;
  transition: 0.3s;
  background-color: #f3f3f3;
}
header .operations > div button:hover {
  transform: scale(1.1);
}
header .operations > div button i {
  font-size: 18px !important;
  color: #444;
}
header .operations > div:not(:last-child) {
  margin-right: 20px;
}
header .operations .options {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .operations .options > button.clicked {
  background-color: #5e5eff;
  border-radius: 4px;
}
header .operations .options > button.clicked i {
  color: white;
}
header .operations .options > button i {
  font-size: 20px;
}
header .operations .options > button.color_size {
  position: relative;
}
header .operations .options > button.color_size div.size {
  position: absolute;
  background: white;
  top: 0;
  left: 0;
  padding: 10px;
  border-radius: 20px;
}
header .operations .colors {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
header .operations .colors button#color {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
header .operations .colors button#color:not(:last-child) {
  margin-right: 10px;
}
header .operations .colors button#color.clicked {
  border: 2px solid white;
}
header .operations .colors .black {
  background-color: #444;
}
header .operations .colors .red {
  background-color: #ff6058;
}
header .operations .colors .green {
  background-color: #28A745;
}
header .operations .colors .blue {
  background-color: #5cabff;
}
header .operations .colors input {
  height: 30px;
  cursor: pointer;
}
header .operations .btns {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .operations .btns .clear_canvas, header .operations .btns .save_as_img {
  padding: 10px;
}
header .operations .btns .clear_canvas i {
  color: #ff6058;
}
header .operations .btns .save_as_img i {
  color: #5cabff;
}

.content_draw {
  height: calc(100vh - 80px);
  overflow: hidden;
}/*# sourceMappingURL=app.css.map */