// Import Helpers Class
@use "../../helpers/classes" as *;
@use "../../helpers/mixins" as *;
@use "../../helpers/var" as *;
@use "../../helpers/global-roles" as *;


// Start With App

.page_content {
    margin: 10px;
    padding: 10px;
    border-radius: $border_radius;
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 20px);
}

.operations {
    width: 20%;
    .shapes {
        background-color: red;
        div {
            @include flex_center;
            padding: 10px;
            cursor: pointer;
            img {
                width: 30px;
            }
        }
    }
    .options {
        background-color: blue;
        > div {
            @include flex_center;
            padding: 10px;
            cursor: pointer;
            i {font-size: 20px;}
        }
    }
    .colors {
        margin-bottom: 20px;
        background-color: yellow;
        position: relative;
        div.color {
            position: absolute;
            @include flex_center;
            span {
                position: absolute;
                width: 20px; height: 20px; border-radius: 50%;
            }
        }
        .black {
            background-color: red;
            width: 25px; height: 25px; border-radius: 50%;
            cursor: pointer;
            span {
                background-color: red;
            }
            &:hover span {
                border: 3px solid white;
            }
        }
    }
    .clear_canvas {

    }
    .save_as_img {

    }
}

.content_draw {
    background-color: #ffffff;
    width: 75%;
    box-shadow: $box_shadow;
}





